:root {
    --dashboard-background-color: #f5f5f5;
    --dashboard-background-image: url(../img/bg-dashboard-white.png);
    --dashboard-view-background-color: #fafafa;
    --dashboard-view-head-background-color: #ffffff;
    --dashboard-view-head-title-color: #387EE5;
    --dashboard-tags-background-color:#0F5ED3;
    --dashboard-tags-item-background-color: #457ed9;
    --dashboard-tags-item-selected-background-color: #0F5ED3;
    --chartarea-background: #ffffff;
    --chartarea-title-color: #387EE5;
    --chartarea-brief-color: #8D8D8D;
    --titlearea-color: #696969;
    --listarea-background: #ffffff;
    --listarea-table-border-color: #f7f7f7;
    --listarea-table-th-background-color: #d9d9d9;
    --listarea-table-th-color: #374858;
    --listarea-table-td-color: #585858;
    --listarea-table-td-background-hover-color: #FCEBDC;
    --listarea-table-td-hover-color: #585858;

    --dark-dashboard-background-color: #2B2E37;
    --dark-dashboard-background-image: url(../img/bg-dashboard-dark.png);
    --dark-dashboard-view-background-color: #393C46;
    --dark-dashboard-view-head-background-color: #2B2E37;
    --dark-dashboard-view-head-title-color: #387EE5;

    --dark-dashboard-tags-background-color: #2B2E37;
    --dark-dashboard-tags-item-background-color: #414658;
    --dark-dashboard-tags-item-selected-background-color: #2B2E37;

    --dark-chartarea-background: #414658;
    --dark-chartarea-title-color: #BAD6FF;
    --dark-chartarea-brief-color: #ffffff;
    --dark-titlearea-color: #DCDCDC;
    --dark-listarea-background: #414658;
    --dark-listarea-table-border-color: #535F88;
    --dark-listarea-table-th-background-color: #BAD6FF;
    --dark-listarea-table-th-color: #374858;
    --dark-listarea-table-td-color: #ffffff;
    --dark-listarea-table-td-background-hover-color: #FCEBDC;
    --dark-listarea-table-td-hover-color: #585858;
}