/* default background color */
$dashboard-background-color: var(--dashboard-background-color);
$dashboard-background-image: var(--dashboard-background-image);

$chartarea-background: var(--chartarea-background);
$chartarea-title-color: var(--chartarea-title-color);
$chartarea-brief-color: var(--chartarea-brief-color);

$titlearea-color: var(--titlearea-color);

$listarea-background: var(--listarea-background);
$listarea-table-border-color: var(--listarea-table-border-color);
$listarea-table-th-background-color: var(--listarea-table-th-background-color);
$listarea-table-th-color: var(--listarea-table-th-color);
$listarea-table-td-color: var(--listarea-table-td-color);

$listarea-table-td-background-hover-color: var(--listarea-table-td-background-hover-color);
$listarea-table-td-hover-color: var(--listarea-table-td-hover-color);
