@import "Navbar/_qd-navbar";
@import "RightPanel/_qd-right-panel";
@import "Sidebar/_qd-sidebar";

/** @define app-wrapper */
/// layout 전체 최상단 class 높이값 100% 설정<br />
/// @author sj.baek
.qd-app-wrapper {
  min-width: 1440px;
  min-height: 100vh;
  background-color: $qd-background-color;
}

/** @end */

/** @define main */
/// 좌측 메뉴리스트 열림/닫힘에 따른 컨텐츠영역 style<br />
/// @author sj.baek
.qd-main__container {  
  
  @include qd-control-by-parent(".is-open") {
    margin-left: $qd-sidebar-width;
    transition: margin-left 0.3s ease-in-out;
  }
  @include qd-control-by-parent(".is-close") {
    margin-left: $qd-sidebar-width-collapse;
    transition: margin-left 0.3s;
  }

  .qd-main__app {
    padding: $qd-screen-padding;
  }

  .qs_main__content {
    .el-scrollbar__wrap {
      max-height: calc(100vh - 110px);
      padding-right: 25px;
      overflow-x: hidden;
    }

    & > .el-scrollbar__bar.is-horizontal{
      display: none;
    }

    & > .el-scrollbar__bar.is-vertical{
      opacity: 1;
    }
  }
}

/** @end */
