/** @define right-panel */
/// 우측패널영역 style<br />
/// @author my.kim
.qd-right-panel {
  /*
  .handle-button {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1000;
    width: 50px;
    height: 50px;
    background-color: #f00;
  }
  */

  &__dimmed {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba($qd-color-gray-100, 0.15);
    z-index: 998;
    visibility: hidden;
  }

  &__content {
    width: $qd-right-panel-width;
    height: 100%;
    position: fixed;
    top: 0;
    right: -$qd-right-panel-width;
    overflow-y: auto;
    z-index: 998;
    transition: right 0.3s ease-in-out;

    .qd-right-panel__item {
      width: calc(100% - 13px);
      height: 100%;
      background-color: $qd-right-panel-background-color;
      padding: $qd-right-panel-padding-y $qd-right-panel-padding-x;
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: $qd-right-panel-box-shadow;
    }

    /*  임시, 삭제예정  */

    /* .right-panel__button-temp {
      display: none;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: $qd-color-primary;
      color: #fff;
      font-size: 20px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      cursor: pointer;
      > i {
        font-size: inherit;
      }
    } */
  }

  &__header {
    position: relative;
    height: $qd-right-panel-header-height;
    margin-bottom: $qd-right-panel-header-margin-bottom;
  }

  &__body {
    height: calc(100% - 41px);
    overflow-y: auto;
  }

  &__button-close {
    position: absolute;
    top: 0;
    right: 0;
    width: $qd-right-panel-close-button-width;
    height: $qd-right-panel-close-button-height;
    background-color: $qd-right-panel-close-button-background-color;

    i {
      font-size: $qd-right-panel-close-button-font-size;
    }
  }

  &.is-show {
    .qd-right-panel__dimmed {
      visibility: visible;
    }

    .qd-right-panel__content {
      right: 0;
      transition: right 0.3s ease-in-out;
    }
  }
}
