/** @define hamburger */
/// navbar의 좌측 햄버거 메뉴버튼 style<br />
/// @author my.kim
.qd-hamburger {
  float: left;
  padding: $qd-hamburger-icon-padding-y $qd-hamburger-icon-padding-x;
  @include qd-set-oneline-height(#{$qd-hamburger-height});

  & > i {
    display: block;
    width: 20px;
    height: 17px;
    margin-top: 2px;
    position: relative;
    border-top:2px solid $qd-hamburger-icon-color;
    cursor: pointer;

    &::before{
      display: block;
      content:'';
      width: 16px;
      height: 0;
      position: absolute;
      top: 7px;
      left: 0;
      border-top: 2px solid $qd-hamburger-icon-color;
      transform: translateY(-2px);
    }

    &::after{
      display: block;
      content:'';
      width: 12px;
      height: 0;
      position: absolute;
      top: 12px;
      left: 0;
      border-top: 2px solid $qd-hamburger-icon-color;
    }
  }
}

.is-close{
  & .qd-hamburger{
    & > i {
      &::before,
      &::after{
        width: 20px;
      }
    }
  }
}